.jumbotron {
  padding-top: 6rem;
  background-color: #fbcbff;
}

#education {
  background-color: #fbcbff;
}
#certificate {
  background-color: #fbcbff;
}

#details1 {
  background-color: #fbcbff;
}
#experience {
  background-color: #fbcbff;
}

section {
  padding-top: 5rem;
}
