.jumbotron {
  padding-top: 6rem;
  background-color: #fbcbff;
}

#education {
  background-color: #fbcbff;
}
#certificate {
  background-color: #fbcbff;
}

#details1 {
  background-color: #fbcbff;
}
#experience {
  background-color: #fbcbff;
}

section {
  padding-top: 5rem;
}

.certif-btn {
  position: center;
  opacity: 0;
  transition: 0.5s;
}

.certif-detail:hover .certif-btn {
  opacity: 1;
}
